@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   color: white;
   height: 100%;
   width: 100%;
   background-image: linear-gradient(#2a2a2a, #1e2c11);
   background-attachment: fixed;
   margin: 0;
}

#root {
   height: 100%;
}
